<form action="/login" method="POST">

    <div class="login-headers">
        <h1>Fantasy Football</h1>
        <h2> Welcome Back!</h2>
    </div>

    <div class="login-icon">
        <img src="https://clipground.com/images/liverpool-crest-png-8.png" alt="Icon">
    </div>
    
    <div class="login-fields">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Login</button>
    </div>
    
</form>