<form action="/signup" method="POST">

    <div class="signup-headers">
        <h1>Fantasy Football</h1>
        <h2>Create an account now!</h2>
    </div>

    <div class="signup-icon">
        <img src="https://clipground.com/images/liverpool-crest-png-8.png" alt="Icon">
    </div>

    <div class="signup-fields">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="favoriteTeam" placeholder="Favorite Team">

        <button type="submit">Create Account</button>
    </div>

</form>